@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap');
body {  
    background-color: white;
  }
  
  .dark-mode {
    background-color: #121212;
    color: white;
  }

  #wynik{
  font-family: 'Lato', sans-serif;
  font-size: 20px;  
  width: auto;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
  color: rgb(0, 0, 0);
  margin-top: 1em;
  display: none;
  border-radius: 10px;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);

  }
#maintext {
    text-align: center;
    font-family: 'Lato', sans-serif;
    font-size: 3rem;
    margin-top: 1em;
}

#darkmodebutton {
    margin: 1em;
    color: rgb(0, 0, 0);
    font-family: 'Lato', sans-serif;    
    border-color: black;    
    border-radius: 5px;


}
#darkmodebutton:hover {
    transition: width 0.2s, height 0.2s, transform 0.2s;
    transform: scale(1.1);
}
label {
    margin-top: 1em;
    text-align: center;
    display: block;
    margin-right: auto;
    margin-left: auto;
    font-family: 'Lato', sans-serif;

  }

 
input[type=number], textarea  {
    border-radius: 5px;
    border: 4px solid rgb(70, 66, 66);
    height: 2em;
    margin: 0.8em;
    /* background:#ffffff;*/
    /* color: blue; */
    -webkit-transition: width 0.5s ease-in-out;
    text-align: center;
    font-family: 'Lato', sans-serif;
    transition: width 0.5s ease-in-out;
    display: block;
    margin-right: auto;
    margin-left: auto;
    width: 10%;
  }
  #submit{
    background: white;
    border-radius: 5px;
    border: 4px solid rgb(0, 0, 0);
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    height: 2.5em;
    margin: 1.8em;
    /* background:#ffffff;*/
    /*color: #111111 ;*/
    -webkit-transition: width 0.5s ease-in-out;
    text-align: center;
    font-family: 'Lato', sans-serif;
    transition: width 0.5s ease-in-out;
    display: block;
    margin-right: auto;
    margin-left: auto;
  }
  
  input[type=number]:focus {
    width: 14%;
  }